<div class="container">

  <div class="ui-g">
    <div class="ui-g-12">
        <h1>Launchs</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
       <label>Description</label>
       <input type="text" pInputText />
    </div>

    <div class="ui-g-12">
      <label style="display: block;">Due date</label>
      <input type="text" pInputText style="width: 95px" />

      <label>Até</label>
      <input type="text" pInputText style="width: 95px" />
   </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar" ></button>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-12">

            <p-table [value]="launchs" [paginator]="true" [rows]="1" [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>People</th>
                        <th>Description</th>
                        <th>Overdue Date</th>
                        <th>Payment</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-launch>
                    <tr>
                        <td>{{launch.people}}</td>
                        <td>{{launch.description}}</td>
                        <td>{{launch.overDuedate}}</td>
                        <td>{{launch.datePayment}}</td>
                        <td>{{launch.price}}</td>
                        <td>{{launch.type}}</td>
                        <td><a   pTooltip="Editar" tooltipPosition="top">Editar</a></td>
                        <td>Excluir</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <button pButton type="submit" label="New Launch" ></button>

  </div>

</div>


